In [1]:
import os
import pandas as pd

In [2]:
# Read vine_table data file and store it in a Pandas DataFrame.
vine_data_df = pd.read_csv("vine_table.csv")
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EFW2STIYIY0I,1,2,2,N,Y
1,R12NR0R5A9F7FT,5,0,0,N,Y
2,R1LSH74R9XAP59,2,0,1,N,Y
3,R1QXUNTF76K7L6,2,0,0,N,Y
4,R2F7DR75PS8NKT,5,0,0,N,Y

In [3]:
# Verify datatypes 
vine_data_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [32]:
# 1)create a new dataframe with all rows where the total_votes count >= 20
filtered_vine_df = vine_data_df[vine_data_df["total_votes"] >= 20]
filtered_vine_df.head()
#filtered_vine_df.count()
#filtered_vine_df.groupby('vine').count()['review_id']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y

In [45]:
# 2) filters rows in step (1) and create a new dataframe where helpful votes/total votes ratio is >= 50%
helpful_reviews_df = filtered_vine_df[(filtered_vine_df["helpful_votes"]/filtered_vine_df["total_votes"]*100) >= 50]
helpful_reviews_df.head()
#helpful_reviews_df.count()
#helpful_reviews_df.groupby('vine').count()['review_id']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19,R26CC1STPSUHBS,1,27,39,N,N
202,R7K83D59T9KWS,1,16,26,N,N
219,R2ATG5BPVILHUM,1,16,25,N,N
345,R1Q71TAM5ZOYTK,3,57,61,N,N
454,RR8HYI7C2XKMU,5,25,25,N,Y

In [6]:
# 3) filter rows in step (2) and create a new dataframe where review was written as part of the Vine program
vine_reviews_df = helpful_reviews_df[helpful_reviews_df["vine"] == 'Y']
vine_reviews_df.count()

review_id            248
star_rating          248
helpful_votes        248
total_votes          248
vine                 248
verified_purchase    248
dtype: int64

In [7]:
# 4) filter rows in step (2) and create a new dataframe where review was NOT written as part of the Vine program
non_vine_reviews_df = helpful_reviews_df[helpful_reviews_df["vine"] == 'N']
non_vine_reviews_df.count()

review_id            17514
star_rating          17514
helpful_votes        17514
total_votes          17514
vine                 17514
verified_purchase    17514
dtype: int64

In [27]:
# Determine Total # of reviews, # of 5-star reviews, and percentage of 5-star reviews for vine and non-vine reviews

# Total Vine reviews:
total_vine_reviews = vine_reviews_df.shape[0]
total_nonvine_reviews = non_vine_reviews_df.shape[0]
print("Total Vine Review: ", total_vine_reviews)
print("Total non-Vine Review: ", total_nonvine_reviews)

# Number of 5-star reviews:
vine_5_star_reviews = vine_reviews_df[vine_reviews_df["star_rating"]==5].count()["review_id"]
nonvine_5_star_reviews = non_vine_reviews_df[non_vine_reviews_df["star_rating"]==5].count()["review_id"]
print("Total 5-Star Vine Review: ", vine_5_star_reviews)
print("Total 5-Star non-Vine Review: ", nonvine_5_star_reviews)

# Percentage of 5-star reviews 
vine_5_star_percent = [0 if total_vine_reviews == 0 else vine_5_star_reviews/total_vine_reviews*100]
nonvine_5_star_percent = [0 if total_nonvine_reviews ==0 else nonvine_5_star_reviews/total_nonvine_reviews*100]


print("Percent 5-Star Vine Review: ", vine_5_star_percent[0])
print("Percent 5-Star non-Vine Review: ", nonvine_5_star_percent[0])

Total Vine Review:  248
Total non-Vine Review:  17514
Total 5-Star Vine Review:  102
Total 5-Star non-Vine Review:  5154
Percent 5-Star Vine Review:  41.12903225806452
Percent 5-Star non-Vine Review:  29.427886262418635

# Additional Analysis to Determine Bias

### Analysis 1: For this analysis, we will get percentage of reviews with 3-star rating or more for each user group: 1) Vine and 2) Non_vine to see if Vine users tend to give 3 star rating or higher

In [46]:

vine_reviews_new_df = filtered_vine_df[filtered_vine_df["vine"] == 'Y']
vine_reviews_new_df.count()

non_vine_reviews_new_df = filtered_vine_df[filtered_vine_df["vine"] == 'N']
non_vine_reviews_new_df.count()


# Total Vine/Non-Vine reviews:
total_vine_reviews_new = vine_reviews_new_df.shape[0]
total_nonvine_reviews_new = non_vine_reviews_new_df.shape[0]
print("Total Vine Review: ", total_vine_reviews_new)
print("Total non-Vine Review: ", total_nonvine_reviews_new)

# Number of 3-star plus reviews:
vine_3_star_reviews_new = vine_reviews_new_df[vine_reviews_new_df["star_rating"]>=3].count()["review_id"]
nonvine_3_star_reviews_new = non_vine_reviews_new_df[non_vine_reviews_new_df["star_rating"]>=3].count()["review_id"]
print("Total 3-Star plus Vine Review: ", vine_3_star_reviews_new)
print("Total 3-Star plus non-Vine Review: ", nonvine_3_star_reviews_new)


# Percentage of 3-star plus reviews 
vine_3_star_percent_new = [0 if total_vine_reviews_new == 0 else vine_3_star_reviews_new/total_vine_reviews_new*100]
nonvine_3_star_percent_new = [0 if total_nonvine_reviews_new ==0 else nonvine_3_star_reviews_new/total_nonvine_reviews_new*100]
print("Percent 3-Star plus Vine Review: ", vine_3_star_percent_new[0])
print("Percent 3-Star plus non-Vine Review: ", nonvine_3_star_percent_new[0])

Total Vine Review:  253
Total non-Vine Review:  19963
Total 3-Star plus Vine Review:  206
Total 3-Star plus non-Vine Review:  10121
Percent 3-Star plus Vine Review:  81.42292490118577
Percent 3-Star plus non-Vine Review:  50.69879276661824

### Analysis 2: Determine if Vine user reviews are statistically more helpful than non-vine users

In [43]:
# helpful review by vine/non-vine users
helpful_vine_reviews_percent = helpful_reviews_df[helpful_reviews_df['vine']=='Y'].count()/filtered_vine_df[filtered_vine_df['vine']=="Y"].count()
helpful_nonvine_reviews_percent =  helpful_reviews_df[helpful_reviews_df['vine']=='N'].count()/filtered_vine_df[filtered_vine_df['vine']=="N"].count()

print("Vine Users - Helpful Reviews %:     ", helpful_vine_reviews_percent[0]*100)
print("Non-Vine Users - Helpful Reviews %: ", helpful_nonvine_reviews_percent[0]*100)

Vine Users - Helpful Reviews %:      98.02371541501977
Non-Vine Users - Helpful Reviews %:  87.73230476381305