In [5]:
import os
import pandas as pd

In [6]:
# Read vine_table data file and store it in a Pandas DataFrame.
vine_data_df = pd.read_csv("vine_table.csv")
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1P1G5KZ05H6RD,5,0,0,N,Y
1,R106N066IUN8ZV,5,0,0,N,Y
2,R7WTAA1S5O7D9,4,0,0,N,Y
3,R32HFMVWLYOYJK,5,0,0,N,Y
4,RWT3H6HBVAL6G,3,0,0,N,N

In [15]:
# Verify datatypes 
vine_data_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [25]:
# 1)create a new dataframe with all rows where the total_votes count >= 20
filtered_vine_df = vine_data_df[vine_data_df["total_votes"] >= 20]
filtered_vine_df.head()
#filtered_vine_df.count()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3943,RN8GRZ45FA27G,5,30,31,N,N
4805,R3DHJNHOZTXZ6C,1,0,20,N,N
4927,R2BVILHJN8OCJB,5,29,31,N,N
10144,R1L88H90CK9ID5,1,1,37,N,Y
13574,RJQ36XR04YC0D,5,21,24,N,N

In [28]:
# 2) filters rows in step (1) and create a new dataframe where helpful votes/total votes ratio is >= 50%
helpful_reviews_df = filtered_vine_df[(filtered_vine_df["helpful_votes"]/filtered_vine_df["total_votes"]*100) >= 50]
helpful_reviews_df.head()
helpful_reviews_df.count()

review_id            20201
star_rating          20201
helpful_votes        20201
total_votes          20201
vine                 20201
verified_purchase    20201
dtype: int64

In [21]:
# 3) filter rows in step (2) and create a new dataframe where review was written as part of the Vine program
vine_reviews_df = helpful_reviews_df[helpful_reviews_df["vine"] == 'Y']
vine_reviews_df.count()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [29]:
# 4) filter rows in step (2) and create a new dataframe where review was NOT written as part of the Vine program
non_vine_reviews_df = helpful_reviews_df[helpful_reviews_df["vine"] == 'N']
non_vine_reviews_df.count()

review_id            20201
star_rating          20201
helpful_votes        20201
total_votes          20201
vine                 20201
verified_purchase    20201
dtype: int64

In [54]:
# Determine Total # of reviews, # of 5-star reviews, and percentage of 5-star reviews for vine and non-vine reviews

# Total Vine reviews:
total_vine_reviews = vine_reviews_df.shape[0]
total_nonvine_reviews = non_vine_reviews_df.shape[0]
print("Total Vine Review: ", total_vine_reviews)
print("Total non-Vine Review: ", total_nonvine_reviews)

# Number of 5-star reviews:
vine_5_star_reviews = vine_reviews_df[vine_reviews_df["star_rating"]==5].count()["review_id"]
nonvine_5_star_reviews = non_vine_reviews_df[non_vine_reviews_df["star_rating"]==5].count()["review_id"]
print("Total 5-Star Vine Review: ", vine_5_star_reviews)
print("Total 5-Star non-Vine Review: ", nonvine_5_star_reviews)

# Percentage of 5-star reviews 
vine_5_star_percent = [0 if total_vine_reviews == 0 else vine_5_star_reviews/total_vine_reviews]
nonvine_5_star_percent = [0 if total_nonvine_reviews ==0 else nonvine_5_star_reviews/total_nonvine_reviews*100]


print("Percent 5-Star Vine Review: ", vine_5_star_percent)
print("Percent 5-Star non-Vine Review: ", nonvine_5_star_percent)

Total Vine Review:  0
Total non-Vine Review:  20201
Total 5-Star Vine Review:  0
Total 5-Star non-Vine Review:  12331
Percent 5-Star Vine Review:  [0]
Percent 5-Star non-Vine Review:  [61.04153259739616]